.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border: none;
  padding: 4dvb;
  border-radius: 20px;
  max-width: 600px;
  overflow: hidden;
}

.image-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
}

.prep-card {
  background-color: hsl(330, 100%, 98%);
  border: none;
  padding: 2dvb;
  border-radius: 20px;
}

body { 
  background-color: hsl(30, 54%, 90%); 
  font-family: Outfit;
  font-size: 15px;
  color:hsl(24, 5%, 18%);
  justify-content: center;
  align-items: center;
}

h1 { 
  font-family: young serif; 
  font-weight: 400;
}

h2 { 
  font-family: young serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%); 
}

h3 { color: hsl(332, 51%, 32%); }

hr {
  height: 1px;
  border-width:0;
  color: hsl(30, 18%, 87%);
  background-color: hsl(30, 18%, 87%);  
}

td {
  padding: 3dvb;
  text-align: left;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  width: 80%;
}

td:nth-child(even) {
  color: hsl(14, 45%, 36%);
  font-weight: 600;

}

